.home-page {
    background-color: var(--background-black);
    min-height: 100vh;
    padding-bottom: 3rem;
}

.loading-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-black);
    color: var(--primary-red);
    font-size: 2rem;
    font-weight: bold;
}